body > main > section.gallery {
	--d: 10s;
	/* duration */
	display: grid;
	/* grid-template-columns: minmax(1rem, 1fr); */
	width: 70vw;
	min-height: 100vh;
	margin: 0;
	place-content: center;
	overflow: hidden;
	-webkit-mask: linear-gradient(90deg, #0000, #000 10% 90%, #0000);
}

body > main > section.gallery > img {
	grid-area: 1/1;
	width: 100%;
	img {
		aspect-ratio: 1.5;
		object-fit: cover;
		animation: r var(--d) linear infinite;
	}
}

body > main > section >  img:nth-child(2) {
	animation-delay: calc(-0.2 * var(--d));
}

body > main > section >  img:nth-child(3) {
	animation-delay: calc(-0.4 * var(--d));
}

body > main > section >  img:nth-child(4) {
	animation-delay: calc(-0.6 * var(--d));
}

body > main > section >  img:nth-child(5) {
	animation-delay: calc(-0.8 * var(--d));
}

body > main > section >  img:nth-child(6) {
	animation-delay: calc(-0.8 * var(--d));
}

@keyframes r {
	80% {
		transform: translate(-400%);
	}
	80.01% {
		transform: translate(100%);
	}
}
