:root {
  --dots: radial-gradient(circle, #0000, #d3cec5);
}

div.halftone {
  width: 100vw;
  height: 100vw;
  margin: 1rem auto;
  background: var(--lyr0, var(--img)) var(--sep,  ) var(--lyr1,  );
  --dots: radial-gradient(circle, #0000, #d3cec5) 0 0 /px 10px space;
}

.filter .halftone {
  --img: url(https://www.artic.edu/iiif/2/fe1abb4b-e087-7d3c-2203-55c743b1d250/full/843,/0/default.jpg) 50%/cover;
  --lyr0: ;
  --lyr1: radial-gradient(circle, #00000096, #d3cec5) 0 0 / 10px 10px space;
  position: relative;
  overflow: hidden;
  filter: contrast(19);
}

.filter .halftone::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--img);
  filter: blur(3px) brightness(1.15) grayscale(1);
  mix-blend-mode: screen;
  content: "";
}